easystay_whatsapp_outreach_n8n.json
{
  "name": "EasyStay WhatsApp Cold Outreach v2",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Run Outreach",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.stringify({ stage: 'day1', evolution_api_url: 'http://140.245.217.175:8080', evolution_api_key: 'desmond@123', instance_name: 'tenant-85e0fb25', max_messages_per_run: 15, delay_seconds: 180 }) }}",
        "options": {}
      },
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300],
      "notesInFlow": true,
      "notes": "Change stage to: day1, day2, day5, day10, day20. Increase max_messages after week 1."
    },
    {
      "parameters": {
        "jsCode": "const XLSX = require('xlsx');\n\n// READ FROM LOCAL FILE - update this path to where your Excel is\nconst filePath = 'C:\\\\Users\\\\rathn\\\\OneDrive\\\\Pictures\\\\new ganesh\\\\Ganesh-resedence\\\\EasyStay_Target_Leads_v2.xlsx';\n\ntry {\n  const wb = XLSX.readFile(filePath);\n  const ws = wb.Sheets['Target Leads'];\n  const leads = XLSX.utils.sheet_to_json(ws);\n  \n  // Return all leads as n8n items\n  return leads.map(lead => ({ json: lead }));\n} catch(e) {\n  throw new Error('Could not read Excel file at: ' + filePath + '. Error: ' + e.message);\n}"
      },
      "id": "read-excel",
      "name": "Read Leads from Excel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300],
      "notesInFlow": true,
      "notes": "Reads Excel directly from local path. Install xlsx: npm install xlsx in n8n."
    },
    {
      "parameters": {
        "jsCode": "const config = $('Config').first().json;\nconst stage = config.stage;\nconst items = $input.all();\n\n// Filter based on stage and contact status\nconst eligible = items.filter(item => {\n  const lead = item.json;\n  const phone = lead['WhatsApp Number'];\n  if (!phone) return false;\n  \n  const status = (lead['Contact Status'] || '').toUpperCase();\n  \n  // Stage-based filtering\n  if (stage === 'day1') return status === 'NOT CONTACTED';\n  if (stage === 'day2') return status === 'DAY 1 SENT';\n  if (stage === 'day5') return status === 'DAY 2 SENT';\n  if (stage === 'day10') return status === 'DAY 5 SENT';\n  if (stage === 'day20') return status === 'DAY 10 SENT';\n  \n  return false;\n});\n\n// Sort by priority: ULTRA_HOT first\nconst order = { 'ULTRA_HOT': 0, 'HOT': 1, 'WARM': 2, 'COLD': 3 };\neligible.sort((a, b) => (order[a.json['Lead Priority']] || 2) - (order[b.json['Lead Priority']] || 2));\n\n// Limit to max per run\nconst max = config.max_messages_per_run || 15;\nconst batch = eligible.slice(0, max);\n\nconsole.log(`Stage: ${stage} | Eligible: ${eligible.length} | Batch: ${batch.length}`);\n\nif (batch.length === 0) {\n  return [{ json: { _empty: true, message: 'No eligible leads for stage: ' + stage } }];\n}\n\nreturn batch;"
      },
      "id": "filter-and-sort",
      "name": "Filter & Sort by Priority",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-not-empty",
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-leads",
      "name": "Has Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "loop-leads",
      "name": "Loop Over Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1300, 200]
    },
    {
      "parameters": {
        "jsCode": "const lead = $json;\nlet phone = (lead['WhatsApp Number'] || '').replace(/[^0-9]/g, '');\nif (phone.startsWith('0')) phone = '91' + phone.substring(1);\nif (!phone.startsWith('91') && phone.length === 10) phone = '91' + phone;\n\nconst config = $('Config').first().json;\nconst stage = config.stage;\n\n// Pick the right message column based on stage\nconst colMap = {\n  day1: 'Cold Message (Day 1)',\n  day2: 'Follow-up (Day 2)',\n  day5: 'Follow-up (Day 5)',\n  day10: 'Follow-up (Day 10)',\n  day20: 'Follow-up (Day 20)'\n};\n\nconst message = lead[colMap[stage]] || lead['Cold Message (Day 1)'] || '';\n\nreturn [{\n  json: {\n    clean_phone: phone,\n    property_name: lead['Property Name'],\n    lead_priority: lead['Lead Priority'],\n    message: message,\n    stage: stage,\n    original_phone: lead['WhatsApp Number'],\n    google_maps: lead['Google Maps Link'],\n    rating: lead['Google Rating'],\n    pain_points: lead['Pain Points']\n  }\n}];"
      },
      "id": "prepare-lead",
      "name": "Prepare Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.evolution_api_url }}/chat/whatsappNumbers/{{ $('Config').first().json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Config').first().json.evolution_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ numbers: [$json.clean_phone] }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "timeout": 15000
        }
      },
      "id": "check-whatsapp",
      "name": "Check WhatsApp Number",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 200],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "notesInFlow": true,
      "notes": "POST /chat/whatsappNumbers/{instance}"
    },
    {
      "parameters": {
        "jsCode": "// Check if the response indicates the number is on WhatsApp\nconst response = $input.first().json;\nconst preparedData = $('Prepare Lead Data').first().json;\n\nlet isOnWhatsApp = false;\nlet jid = '';\n\nif (Array.isArray(response)) {\n  const found = response.find(r => r.exists === true);\n  if (found) {\n    isOnWhatsApp = true;\n    jid = found.jid || '';\n  }\n} else if (response && Array.isArray(response.data)) {\n  const found = response.data.find(r => r.exists === true);\n  if (found) {\n    isOnWhatsApp = true;\n    jid = found.jid || '';\n  }\n}\n\nreturn [{\n  json: {\n    ...preparedData,\n    is_on_whatsapp: isOnWhatsApp,\n    whatsapp_jid: jid\n  }\n}];"
      },
      "id": "parse-whatsapp-check",
      "name": "Parse WhatsApp Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-on-whatsapp",
              "leftValue": "={{ $json.is_on_whatsapp }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-on-whatsapp",
      "name": "Is on WhatsApp?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2180, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.evolution_api_url }}/message/sendText/{{ $('Config').first().json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Config').first().json.evolution_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.clean_phone, text: $json.message }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "timeout": 30000
        }
      },
      "id": "send-whatsapp-text",
      "name": "Send WhatsApp Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 100],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "POST /message/sendText/{instance}"
    },
    {
      "parameters": {
        "jsCode": "const sendResult = $input.first().json;\nconst leadData = $('Parse WhatsApp Check').first().json;\n\nconst success = !!(sendResult?.key?.id);\n\nreturn [{\n  json: {\n    status: success ? 'SENT ✅' : 'FAILED ❌',\n    property: leadData.property_name,\n    phone: leadData.clean_phone,\n    priority: leadData.lead_priority,\n    stage: leadData.stage,\n    message_id: sendResult?.key?.id || 'none',\n    sent_at: new Date().toISOString(),\n    error: success ? '' : JSON.stringify(sendResult)\n  }\n}];"
      },
      "id": "log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2620, 100]
    },
    {
      "parameters": {
        "amount": "={{ $('Config').first().json.delay_seconds + Math.floor(Math.random() * 60) }}",
        "unit": "seconds"
      },
      "id": "wait-between",
      "name": "Wait 3-4 Min",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2840, 100],
      "notesInFlow": true,
      "notes": "Random delay to avoid detection"
    },
    {
      "parameters": {
        "jsCode": "const leadData = $('Parse WhatsApp Check').first().json;\n\nreturn [{\n  json: {\n    status: 'SKIPPED - NOT ON WHATSAPP ❌',\n    property: leadData.property_name,\n    phone: leadData.clean_phone,\n    priority: leadData.lead_priority,\n    skipped_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "log-skipped",
      "name": "Log: Skipped ❌",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 340]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "short-wait",
      "name": "Short Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2620, 340]
    },
    {
      "parameters": {
        "jsCode": "// No eligible leads for this stage\nreturn [{\n  json: {\n    status: 'NO LEADS',\n    message: $json.message || 'No eligible leads found for the current stage. Update Contact Status in Excel and try again.'\n  }\n}];"
      },
      "id": "no-leads",
      "name": "No Leads Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 440]
    }
  ],
  "connections": {
    "Run Outreach": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Read Leads from Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads from Excel": {
      "main": [
        [
          {
            "node": "Filter & Sort by Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Sort by Priority": {
      "main": [
        [
          {
            "node": "Has Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Leads?": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Leads Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Leads": {
      "main": [
        null,
        [
          {
            "node": "Prepare Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Lead Data": {
      "main": [
        [
          {
            "node": "Check WhatsApp Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check WhatsApp Number": {
      "main": [
        [
          {
            "node": "Parse WhatsApp Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse WhatsApp Check": {
      "main": [
        [
          {
            "node": "Is on WhatsApp?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is on WhatsApp?": {
      "main": [
        [
          {
            "node": "Send WhatsApp Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log: Skipped ❌",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Text": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Result": {
      "main": [
        [
          {
            "node": "Wait 3-4 Min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3-4 Min": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log: Skipped ❌": {
      "main": [
        [
          {
            "node": "Short Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Short Wait": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "WhatsApp"
    },
    {
      "name": "Outreach"
    },
    {
      "name": "EasyStay"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-06T08:00:00.000Z",
  "versionId": "2"
}
